body{
    margin: 0;
    padding: 0;

    width:100%;
    min-height: 100vh;
}


.container{

    display:grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 100vh;
    grid-template-areas:
    "leftside main";
}

.left-side{
    grid-area:leftside;
    background-color:rgb(248, 182, 0);
    
}

.main-content{
    grid-area:main;
    background-color:rgb(255, 254, 232);
}

.main-content button:hover{
    background-color:rgb(133, 133, 133);
}

.menuheader{
    margin-bottom: 10px;
}

.menubuttons, .menuheader{
    display:flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    color: black;
    font-size:200%;
}

.top-area{
    display:flex;
    width:100%;
    height: 100px;
    align-items: center;
    justify-content: flex-end;
    gap:50px;
}

.add-button button{
    border-radius: 10px;
    height:40px;
    width:100px;
    background-color: darkgrey;
    border: 0;
}

.search-area button{
    width:100px;
    height:40px;
    border-radius: 10px;
    border: 0;
    background-color: darkgrey;
    margin-left: 10px;
    margin-right:20px;
}

.search-area input{
    width:400px;
    height:40px;
    border-radius: 10px;
    border:0;
    background-color: darkgrey;
}

.task-description p{
    font-size:80%;
    color:rgb(58, 58, 58);
}


.tasks-area{
    display:flex;
    flex-direction: column;
    gap:10px
}

.task{
    height:2fr;
    background-color:beige;
    padding-left: 20px;
    padding-right: 20px;
    display:flex;
    justify-content: space-between;
}
    
.task-left{
    display:flex;
    gap:20px;
    align-items:center;
}

.task-left input{
    width:40px;
    height:40px;
}

.task-right{
    display: flex;
    align-items: center;
}

.task-right button{
    width: 60px;
    height: 60px;
    border-radius:15px;
    background-color: darkgrey;
    border: 0px
}

#task-adder{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 20vw;
    top: 70px;
    border-radius: 30px;
    background-color:rgba(211, 211, 211, 0.85);
    display: none;
    flex-direction: column;
    padding:20px;
    width:60vw;

    align-self: center;
    box-sizing: border-box;
}

.task-adder-item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.task-adder-item input, select{
    width:80%;
    height:30px;
    border-radius:10px;
    background-color:darkgray;
    border:0;
    display:inline-block;
    
}

#task-adder button{
    width:100%;
    height:30px;
    border-radius:10px;
    background-color:darkgray;
    border:0;
    text-align: center;
}

@media (max-width:900px){
    .top-area{
        display: flex;
        flex-direction: column-reverse;
        gap: 5px;
        margin-top:10px;
        height: 150px;
    }
    .search-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 70vw;
    }

    .search-area input{
        width:70vw;
    }

    #searching-button{
        width:60vw;
    }
    #task-adder{
        left: 20vw;
        top:150px;
        width: 80vw;
    }

    .menubuttons{
        display: block;
    }

    
}

@media (max-width: 500px){
    .container{
        display: flex;
        flex-direction: column;
    }
    
    .top-area{
        display: flex;
        flex-direction: column-reverse;
        gap: 5px;
        margin-top:10px;
        height: 150px;
    }
    

    .search-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 95vw;
    }

    .search-area input{
        width:100vw;
    }

    #searching-button{
        width:90vw;
    }

    #task-adder{
        left: 10vw;
        top:200px;
        width: 80vw;
    }
    
    .menubuttons{
        display: none;
    }
    

}